//Custom CSS

body{
	background-color: #eeeeee;
	font-family: 'Lato';
}

.head{
	display: block;
}

.title-border{
	border-bottom: 2px solid #c2c2c2;
	padding: 25px 0;
	margin-bottom: 30px;

	.title-cont{
		position: relative;

		h1{
			font-family: 'Roboto';
			font-weight: 700;
			margin: 0;
		}

		h3{
			margin: 0;
		}

		img{
			position: absolute;
			right: 0;
			bottom: 5px;
			height: 100%;
		}
	}

	&.small{
		padding: 0 0 10px;
		margin-bottom: 15px;
	}

	&.white{
		border-bottom: 2px solid #ffffff;
		color: #9a9b95;
	}
}

.banner{
	margin:0 0 30px;

	.banner-img{
		img{
			width: 100%;
		}
	}
}


.repositories{

	.row{
		display: block;

		.repo-cont{
			background-color: #ffffff;
			padding: 15px;
			display: inline-block;
			margin-bottom: 30px;

			a{
				text-decoration: none;
				width: 100%;

				&.thumbs{
					max-height: 180px;
					overflow: hidden;
					display: inline-block;

					img{
						width: 100%;
						display: block;
						-webkit-transition: all 0.5s ease-in-out;
						-moz-transition: all 0.5s ease-in-out;
						-ms-transition: all 0.5s ease-in-out;
						-o-transition: all 0.5s ease-in-out;
						transition: all 0.5s ease-in-out;
					}
				}

				&:hover{
					&.thumbs{
						img{
							transform: scale(1.1);
						}
					}
				}
			}
		}
	}
}