<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>APD Interact</title>
	<link href="https://fonts.googleapis.com/css?family=Lato|Roboto:400,700" rel="stylesheet">
	<link rel="stylesheet" href="dist/css/bootstrap.css">

</head>
<body>


<section class="head">
	<div class="container">
		<div class="title-border">
			<div class="title-cont">
				<h1>
					Twitter Github Info
				</h1>
				<img src="https://vignette3.wikia.nocookie.net/gtawiki/images/c/ce/Twitter_Logo.png/revision/latest?cb=20130729143334" alt="">
			</div>
		</div>
	</div>
</section>

<section class="banner">
	<div class="container">
		<div class="banner-img">
			<img src="images/banner1.png" alt="">
		</div>
	</div>
</section>

<section class="repositories">
	<div class="container">
		<div class="title-border small white">
			<div class="title-cont">
				<h3>
					REPOSITORIES
				</h3>
			</div>
		</div>
		<div class="row" id="repo-container">
			<script id="template" type="text/x-handlebars-template">
				{{#each this}}
				<div class="col-xs-12 col-sm-4">
					<div class="repo-cont">
						<a href="{{repoURL}}" class="thumbs">
						<img src="{{repoThumb}}" alt="">
						</a>
						<a href="{{repoURL}}">
							<h4>{{repoName}}</h4>
						</a>
						<p>Last updated - {{repoUpdate}}</p>
						<p>Watchers - {{repoWatchers}}</p>
					</div>
				</div>
				{{/each}}
			</script>
		</div>
	</div>
</section>

	
	



	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="dist/js/bootstrap.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script> -->

    <script>
		(function() {
			var getData = {
				init: function(config) {
					this.url = 'https://api.github.com/users/twitter/repos';
					this.template = config.template;
					this.container = config.container;
					this.fetch();
				},

				attachTemplate: function() {
					var template = Handlebars.compile(this.template);
					this.container.append(template(this.gitData));

				}, 

				fetch: function() {
					var self = this;

					$.getJSON(this.url, function(data) {
						self.gitData = $.map( data, function(info) {
							return {
								repoName: info.full_name,
								repoID: info.id,
								repoURL: info.html_url,
								repoUpdate: info.updated_at,
								repoWatchers: info.watchers_count,
								repoThumb: 'https://avatars3.githubusercontent.com/u/' + info.id + '?v=2&s=4 80'
							};

						});

						self.attachTemplate();
						console.log(data);
					});
				}
			};

			getData.init({
				template: $('#template').html(),
				container: $('#repo-container')
			});
		})();
	</script>
	
</body>
</html>