.head{
	display: block;

	.head-border{
		border-bottom: 1px solid;
		padding: 25px 0;

		.head-cont{
			position: relative;

			h2{
				margin: 0;
			}

			img{
				position: absolute;
				right: 0;
				bottom: 5px;
				height: 100%;
			}
		}
	}
}