.repositories{
	.repo-title{
		display: block;
		width: 100%;
		border-bottom: 1px solid;
		padding-bottom: 10px;
	}

	.row{
		display: block;

		.repo-cont{
			background-color: #ffffff;
			padding: 15px;
			display: inline-block;

			a{
				text-decoration: none;
				width: 100%;

				&.thumbs{
					max-height: 250px;
					overflow: hidden;
					display: inline-block;

					img{
						width: 100%;
						display: block;
						-webkit-transition: all 0.5s ease-in-out;
						-moz-transition: all 0.5s ease-in-out;
						-ms-transition: all 0.5s ease-in-out;
						-o-transition: all 0.5s ease-in-out;
						transition: all 0.5s ease-in-out;
					}
				}

				&:hover{
					&.thumbs{
						img{
							transform: scale(1.1);
						}
					}
				}
			}
		}
	}
}